*.csv
!inputs/LHSDesign40x4.csv
!inputs/LHSDesign40x4_1.csv
!inputs/LHSDesign50x3.csv
!inputs/LHSDesign50x3_1.csv
!inputs/LHSDesign60x6.csv
!inputs/Image_0074.csv
!inputs/nominal_shell_mesh_outer_surface_elements.csv
!outputs/CSpar_sam_shell_mesh_elements.csv
!outputs/CSpar_sam_shell_mesh_nodes.csv
!outputs/emulator_modes_LHSDesign40x4.csv
!outputs/basis_LHSDesign40x4.csv
!outputs/emulator_modes_LHSDesign40x4.csv
!outputs/nonlinear_emulator_modes_LHSDesign40x4.csv
*.asv
*.rds
*.json
*.geo
*.msh
*.RData
*.RDataTmp
*.Rhistory
*.txt
*.tmp
*.dmp
*.vtk
*.com
*.dat
*.msg
*.odb
*.prt
*.sim
*.sta
Abaqus/
Dune/
Test/
source/__pycache__/
parameters.txt
input.txt
CSpar_sam_displacement.csv
CSpar_sam_nodes.csv
CSpar_sam_output.json
inputs/plot_spring_study.py
inputs/spring_prior.m
inputs/spring_study.py