*.csv
!inputs/LHSDesign40x4.csv
!inputs/LHSDesign40x4_1.csv
!inputs/LHSDesign50x3.csv
!inputs/LHSDesign50x3_1.csv
!inputs/LHSDesign60x6.csv
!outputs/CSpar_sam_shell_mesh_elements.csv
!outputs/CSpar_sam_shell_mesh_nodes.csv
!outputs/emulator_modes_LHSDesign40x4.csv
*.json
!inputs/LHSDesign40x4_1_output_struct.json
*.geo
*.msh
*.RData
*.RDataTmp
*.Rhistory
*.txt
*.tmp
*.dmp
*.vtk
Abaqus/
Dune/
parameters.txt
input.txt
CSpar_sam_displacement.csv
CSpar_sam_nodes.csv
CSpar_sam_output.json