# Ignore files created when running the CSpar model
*.geo
*.msh
*.tmp
*.RData
*.RDataTmp
*.Rhistory
*.dmp
*.vtk
Abaqus/
Dune/
parameters.txt
CSpar_sam_displacement.csv
CSpar_sam_nodes.csv
CSpar_sam_output.json